<div fxLayout="column" class="container-table">
  <ng-content></ng-content>
  <table mat-table [dataSource]="dataSource">
    <ng-container *ngFor="let md of metaDataColumns" [matColumnDef]="md.field">
      <th mat-header-cell *matHeaderCellDef>{{ md.title }}</th>
      <td mat-cell *matCellDef="let row">{{ row[md.field] }}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="listFields"></tr>
    <tr mat-row *matRowDef="let row; columns: listFields" class="highline"></tr>
  </table>
</div>
<div>
  <mat-paginator
    [pageSize]="pageSize"
    [length]="total"
    showFirstLastButtons="true"
    (page)="handlerPage($event)"
  ></mat-paginator>
</div>
