<mat-nav-list>
  <a href="#" mat-list-item (click)="export($event, 'pdf', 'abrir')">
    <span mat-line>Exportar a PDF (abrir)</span>
  </a>
  <a href="#" mat-list-item (click)="export($event, 'pdf', 'descargar')">
    <span mat-line>Exportar a PDF (descargar)</span>
  </a>
  <a href="#" mat-list-item (click)="export($event, 'pdf', 'imprimir')">
    <span mat-line>Exportar a PDF (imprimir)</span>
  </a>
  <a href="#" mat-list-item (click)="export($event, 'excel')">
    <span mat-line>Exportar a Excel</span>
  </a>
</mat-nav-list>
