<div class="container" fxLayout fxLayoutAlign="center center">
  <mat-card fxLayout="column" fxLayoutGap="20px" fxFlex="1 1 420px">
    <div fxLayout fxLayoutGap="20px">
      <div class="avatar">
        <img src="/assets/img/avatar.jpg" alt="" />
        <mat-icon>lock</mat-icon>
      </div>
      <div>
        <p>Su sesión ha sido bloqueada</p>
        <span>Ingrese su contraseña para continuar</span>
      </div>
    </div>
    <form fxLayout="column">
      <mat-form-field appearance="outline">
        <mat-label>Contraseña</mat-label>
        <input type="password" matInput />
        <mat-icon matSuffix>vpn_key</mat-icon>
      </mat-form-field>
      <div fxLayout fxLayoutAlign="center">
        <button
          mat-flat-button
          color="primary"
          (click)="unlock()"
          type="button"
        >
          DESBLOQUEAR
        </button>
      </div>
      <div class="center">
        <a routerLink="/auth">¿No eres ...?</a>
      </div>
    </form>
  </mat-card>
</div>
