<amb-title></amb-title>
<amb-container-list>
  <div class="fixed" *rolesAllowed="['ADMIN']">
    <button mat-fab color="primary" (click)="openForm()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <amb-table
    [metaDataColumns]="metaDataColumns"
    [data]="data"
    [total]="totalRecords"
    (onChangePage)="changePage($event)"
  >
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row" class="align-right">
        <button
          mat-button
          color="primary"
          matTooltip="EDITAR"
          (click)="openForm(row)"
        >
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-button color="accent" matTooltip="ELIMINAR" (click)="delete(row)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
  </amb-table>
</amb-container-list>
